{% extends 'broker/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Approve Orders
{% endblock %}
{% block nav_approve_orders %}
<a class="nav-link active" aria-current="page" href="{% url 'broker_approve_order' %}">Approve Orders</a>
{% endblock %}

{% block content %}
<style>
.styled-table {
    min-width: 700px;
}
.btn {
    position: relative;
    top:20px !important;
}
</style>
<h2>
Pending Orders
</h2>
<table class="styled-table">
    <tr>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Price Per Stock</th>
        <th>Date</th>
        <th>Client</th>
        <th>Exchange</th>
        <th>Type</th>
        <th></th>
    </tr>
{% for j in pendingorders %}
    <tr>
        <td>{{ j.sid.ticker }}</td>
        <td>{{ j.quantity }}</td>
        <td>{{ j.price }}</td>
        <td>{{ j.creation_time }}</td>
        <td>{{ j.folio_id.clid.clid.name }}</td>
        <td>{{ j.eid.name }}</td>
        <td>{{ j.order_type }}</td>
        <td><a href="{% url 'broker_approve_order' %}?order={{ j.order_id }}">Approve</a></td>
    </tr>
{% endfor %}
</table>
		
<div class="container">    
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>			
{% endblock %}
