{% extends 'base_generic.html' %} 
{% load crispy_forms_tags %} 

{% block content %}
<style>
    input {
        max-width: 12em;
        margin: 5px;
    }
</style>
<div>
    <center>
        <fieldset class="border p-2" style="width: 45em">
            <legend class="w-auto">Broker Login</legend>
            <form method="post">{% csrf_token %} {% crispy form %}</form>
        </fieldset>
    </center>
</div>
{% endblock %} 

{% block client_sidebar %}
{% endblock %}
{% block brokerloggedin_bar %}
{% endblock %}
