{% extends '../base_generic.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>
<style>
    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 0px solid #009879;
}
.with-margin {
  margin-bottom: 2%;
}
</style>
<h2>
Past Orders
</h2>
<table class="styled-table">
            <tr>
                <th>
                    Ticker
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price Per Stock
                </th>
                <th>
                    Date
                </th>
                <th>
                    Client
                </th>
                <th>
                    Exchange
                </th>
                <th>
                    Type
                </th>
            </tr>
{% for j in oldorders %}

            <tr>
                <td>
                    {{j.sid.ticker}}
                </td>
                <td>
                    {{j.quantity}}
                </td>
                <td>
                    {{j.price}}
                </td>
                <td>
                    {{j.creation_time}}
                </td>
                <td>
                    {{j.folio_id.clid.clid.name}}
                </td>
                <td>
                    {{j.eid.name}}
                </td>
                <td>
                    {{j.order_type}}
                </td>
            </tr>
            {% endfor %}
        </table>

<h2>
Current Orders
</h2>
<table class="styled-table">
            <tr>
                <th>
                    Ticker
                </th>
                <th>
                    Initial Quantity
                </th>
                <th>
                    Completed Quantity
                </th>
                <th>
                    Price per Stock
                </th>
                <th>
                    Date
                </th>
                <th>
                    Client
                </th>
                <th>
                    Exchange
                </th>
                <th>
                    Type
                </th>
            </tr>
{% for j in currorder %}

            <tr>
                <td>
                    {{j.sid.ticker}}
                </td>
                <td>
                    {{j.quantity}}
                </td>
                <td>
                    {{j.completed_quantity}}
                </td>
                <td>
                    {{j.price}}
                </td>
                <td>
                    {{j.creation_time}}
                </td>
                <td>
                    {{j.folio_id.clid.clid.name}}
                </td>
                <td>
                    {{j.eid.name}}
                </td>
                <td>
                    {{j.order_type}}
                </td>
            </tr>
            {% endfor %}
        </table>	
		
		
<div class="container">    
            <form method="POST">
                {%csrf_token%}
                
                   
                   {% crispy form %}
                   
                   
                        </form>
            
            </div>			
		    
	

{% endblock %}

{% block client_sidebar %}
{% endblock %}
{% block broker_loggedout %}
{% endblock %}