<!-- <style type="text/css"> 
.container {
  width: 80%;
  height: 500px;
  margin: auto;
  padding: 10px;
}
.one {
  width: 40%;
  height: 500px;
  float: left;
}
.two {
  margin-left: 15%;
  height: 500px;
} 
.buttonimg{
	width:auto;
	height:auto;
}
.btn-group button {
  background-color: #4CAF50; 
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:not(:last-child) {
  border-right: none; 
}
.btn-group button:hover {
  background-color: #3e8e41;
}
</style> -->
<!-- <img alt="" src="{{ data }}"> -->

         
<style type="text/css">
.container {
  width: 100%;
  height: 400px;
}

.one {
  width: 30%;
  height: 400px;
  float: left;
}

.two {
  height: 400px;
} 
  .buttonimg{
    width:auto;
    height:auto;
}
.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
</style>
<script>
function norm()
    {
    document.getElementById('theImage').innerHTML='{{ cp|safe }}';
    }
  </script>
  <script>
function ma5()
    {
      console.log("here");
    document.getElementById('theImage').innerHTML='{{ ma|safe }}';
    }
  </script>
  <script>
function ma10()
    {
    document.getElementById('theImage').innerHTML='{{ ma1|safe }}';
    }
</script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  $( function() {
    $( "#datepicker1" ).datepicker();
  } );
  </script>
<h2> Analysis of {{st}} at {{ex}}</h2>
<form method="post"> {% csrf_token %} 
<p>Start: <input type="text" id="datepicker" name="start"></p>
<p>End: <input type="text" id="datepicker1" name="end"></p> 
 <button class="btn btn-primary" name="datepick" type="submit" value="Submit">
      Go
    </button> 
</form>
<center>Expected Return (mean): {{mean}}
<br> Risk (standard deviation): {{risk}}</center>
{{data|safe}}{{dr|safe}}
</section>
<div class="buttonimg">
<div id='theImage'>{{cp|safe}}</div>
<br>
<!-- <div class="btn-group">
  <button class="btn btn-primary" onclick="norm()">Closing Price</button>
  <button class="btn btn-primary" onclick="ma5()">Moving Avg(5)</button>
  <button class="btn btn-primary" onclick="ma10()">Moving Avg(10)</button>
</div> -->
</div>
<section class="container">
<div class="one">
  <br>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button class="btn btn-primary" name="sfilt" type="submit" value="Submit">
      Calculate Correlation
    </button>
</form>
<br>
Correlation = {{corrv}}
</div>
<div class="two">
  {{cimage|safe}}
</div>
<center>{{pred|safe}}</center>
<br>
<br>
