<style type="text/css">
.container {
  width: 80%;
  height: 500px;
  margin: auto;
  padding: 10px;
}
.one {
  width: 40%;
  height: 500px;
  float: left;
}
.two {
  margin-left: 15%;
  height: 500px;
} 
.buttonimg{
	width:auto;
	height:auto;
}
.btn-group button {
  background-color: #4CAF50; 
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:not(:last-child) {
  border-right: none; 
}
.btn-group button:hover {
  background-color: #3e8e41;
}
</style>
<img alt="" src="{{ data }}">
