{% if details %}
<h2>{{company.name}}</h2>
<h5><span>{{ company.industry }}</span></h5>
<br>
<style type="text/css">
  .column1 {
  
  width: 10%;
  padding: 5px;
  margin-left: 37.5%;
  vertical-align: center;

}
  .column2 {
  
  width: 15%;
  padding: 5px;
  margin-right: 37.5%;

}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;

  display: table;
}
</style>
 <div class="row"  >
  <div class="column1" >
    <img src="{{ company.logo }}" alt="Snow" style="width:70%">
  </div>
  <div class="column2" >
    <span>Ticker: {{ company.cid.ticker }}</span><br>

      <span>Free Float shares: {{ company.cid.total_stocks }}</span><br>

     

      <span>Country: {{ company.country }}</span><br>


      <span>Sector: {{ company.sector }}</span><br>
  </div>
</div> 

<br>
<table class="styled-table" style="width: 50%">
  <tr><th>About</th></tr>
  <tr><td><span><p align="justify">{{ company.summary }}</p></span></td></tr>

  <tr><th>Address</th></tr>
  <tr><td><center><span>{{ company.address }}</span><br>
  <span>{{ company.city }}</span><br>
  <span>{{ company.zipcode }}</span></cemter></td></tr>
  <tr><th>Reach out</th></tr>
  <tr><td><span><center>{{ company.phone }}</center></span></td></tr>
  <tr><th>Website</th></tr>
  <tr><td><span><center><a href="{{ company.website }}">Website</a></center></span></td></tr>
  {% if company.employees > 0 %}
  <tr><th>Number of employees</th></tr>
<tr><td><span>{{ company.employees }}</span></td></tr>
{% else %}{% endif %}
  </table>





{% else %}
<style>
.styled-table {
  min-width: 700px !important;
}
</style>
<div align="center">
  <h2>Companies</h2>
  <table class="styled-table">
    <tr>
    <th>Company</th>
    <th>Ticker</th>
    <th>Float Shares</th>
    <th>Country</th>
    <th>Sector</th>
    </tr>
    {% for company in data %}
    <tr>
    <td><a href="{% url 'companies' company.cid_id 1 %}">{{ company.name }}</a></td>
    <td>{{ company.cid.ticker }}</td>
    <td>{{ company.cid.total_stocks }}</td>
    <td>{{ company.country }}</td>
    <td>{{ company.sector }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="btn-group" role="group" aria-label="button-group">
  {% if prev_exists %}
    <button class="btn btn-primary" onclick="location.href='{% url 'companies' 0 prev %}{{ params }}';" name="previous">
      Previous
    </button>
	{% endif %}
    <button class="btn btn-primary" name="status">
      {{ pagestr }}
    </button>
	{% if next_exists %}
		<button class="btn btn-primary" onclick="location.href='{% url 'companies' 0 next %}{{ params }}';" name="next">
	      Next
	  </button>
	{% endif %}
	</div>
	<br><br>
  <form method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        {% for field in form  %}
        <div class="col-sm-3">
          <b>{{ field.label_tag }}</b> - {{ field }}
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <center>
      <button class="btn btn-primary" name="cfilt" type="submit" value="Submit">
        Refine
      </button>
    </center>
  </form>
</div>
{% endif %}
