<style>
.styled-table {
  min-width: 700px !important;
}
</style>
<div align="center">
  <h2>Stock Listings</h2>
  <table class="styled-table">
    <tr>
    <th>Ticker</th>
    <th>Exchange</th>
    <th>Latest Price</th>
    <th>Change</th>
    <th></th>
    {% if is_client %}
    <th></th>
    {% endif %}
    </tr>
    {% for r in data %}
    <tr>
    <td><a href="{% url 'companies' r.sid_id 1 %}">{{ r.sid.ticker }}</a></td>
    <td>{{ r.eid.name }}</td>
    <td>$ {{ r.last_price }}</td>
    {% if r.change < 0 %}
    <td style="color:darkred;">{{ r.change }} %</td>
    {% else %}
    <td style="color:green;">{{ r.change }} %</td>
    {% endif %}
    <td>
      <button class="btn btn-default" type="button">
        <a href="{% url 'analysis' r.sid.sid r.eid.eid %}">Price History</a>
      </button>
    </td>
    {% if is_client %}
    <td>
      <form name="form_{{ r.listed_id }}" method="post" action="{% url 'client_place_order' %}" class="inline">
        {% csrf_token %}
        <input type="hidden" name="order_type" value="Buy">
        <input type="hidden" name="quantity" value="0">
        <input type="hidden" name="portfolio" value="0">
        <input type="hidden" name="stock" value="{{ r.sid.sid }}">
        <input type="hidden" name="exchange" value="{{ r.eid.eid }}">
        <input type="hidden" name="broker" value="0">
        <input type="hidden" name="price" value="{{ r.last_price }}">
        <button class="btn btn-default" type="button">
        <a href="javascript:;" name="submit" value="Place Order" onclick="document.form_{{ r.listed_id }}.submit(); return false;">Buy</a>
        </button>
      </form>
    </td>
    {% endif %}
    </tr>
    {% endfor %}
  </table>
  <div class="btn-group" role="group" aria-label="button-group">
  {% if prev_exists %}
    <button class="btn btn-primary" onclick="location.href='{% url 'stocklist' prev %}{{ params }}';" name="previous">
      Previous
    </button>
  {% endif %}
    <button class="btn btn-primary" name="status">
      {{ pagestr }}
    </button>
  {% if next_exists %}
    <button class="btn btn-primary" onclick="location.href='{% url 'stocklist' next %}{{ params }}';" name="next">
        Next
    </button>
  {% endif %}
  </div>
	<br><br>
  <form method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        {% for field in form  %}
        <div class="col-sm-4">
          <b>{{ field.label_tag }}</b> - {{ field }}
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <center>
      <button class="btn btn-primary" name="sfilt" type="submit" value="Submit">
        Refine
      </button>
    </center>
  </form>
</div>
