{% extends 'base_generic.html' %}
{% block complete_html %}
  {% if request.user.is_authenticated %}
    {{ block.super }}
  {% else %}
    {% include 'forbidden.html' %}
  {% endif %}
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
  <li class="nav-item">
    {% block nav_home %}<a class="nav-link" aria-current="page" href="{% url 'client_home' %}"><i class="fas fa-home"></i> Home</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_wishlists %}<a class="nav-link" aria-current="page" href="{% url 'client_wishlists' %}">Wishlist</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_portfolio %}<a class="nav-link" aria-current="page" href="{% url 'client_portfolio' %}">Portfolio</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_stocklist %}<a class="nav-link" aria-current="page" href="{% url 'stocklist' 1 %}">Stock Listings</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_analysis %}<a class="nav-link" aria-current="page" href="{% url 'analysis' 0 0 %}">Analysis</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_companies %}<a class="nav-link" aria-current="page" href="{% url 'client_companies' %}">Companies</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_place_order %}<a class="nav-link" aria-current="page" href="{% url 'client_place_order' %}">Place Order</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_cancel_order %}<a class="nav-link" aria-current="page" href="{% url 'client_cancel_order' %}">Cancel Order</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_past_order %}<a class="nav-link" aria-current="page" href="{% url 'client_past_order' %}">Past Orders</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_withdraw %}<a class="nav-link" aria-current="page" href="{% url 'client_withdraw' %}">Withdraw</a>{% endblock %}
  </li>
  <li class="nav-item">
    {% block nav_add_funds %}<a class="nav-link" aria-current="page" href="{% url 'client_add_funds' %}">Add Funds</a>{% endblock %}
  </li>
</ul>
</div>
<div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
<ul class="navbar-nav ms-auto flex-nowrap">
  <li class="nav-item">
  <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-tie"></i> {{ request.user.username }}</a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="{% url 'client_home' %}">Client</a></li>
          <li><a class="dropdown-item" href="{% url 'client_logout' %}">Log out</a></li>
      </ul>
  </div>
  </li>
</ul>
</div>
{% endblock %}
