{% extends 'client/base.html' %} 
{% load crispy_forms_tags %} 

{% block title %}
Past Orders
{% endblock %}
{% block nav_past_order %}
<a class="nav-link active" aria-current="page" href="{% url 'client_past_order' %}">Past Orders</a>
{% endblock %}

{% block content %}
<style>
.styled-table {
    min-width: 700px;
}
.btn {
    position: relative;
    top:20px !important;
}
</style>
<h2>
Past Orders
</h2>
<table class="styled-table">
    <tr>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Price Per Stock</th>
        <th>Date</th>
        <th>Portfolio</th>
        <th>Broker</th>
        <th>Exchange</th>
        <th>Type</th>
    </tr>
{% for j in oldorders %}
    <tr>
        <td>{{ j.sid.ticker }}</td>
        <td>{{ j.quantity }}</td>
        <td>{{ j.price }}</td>
        <td>{{ j.creation_time }}</td>
        <td>{{ j.folio_id.pname }}</td>
        <td>{{ j.bid.bid.name }}</td>
        <td>{{ j.eid.name }}</td>
        <td>{{ j.order_type }}</td>
    </tr>
{% endfor %}
</table>

<div class="container">    
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>		
{% endblock %} 
