{% extends 'client/base.html' %} 
{% load crispy_forms_tags %}

{% block title %}
Place Order
{% endblock %}
{% block nav_place_order %}
<a class="nav-link active" aria-current="page" href="{% url 'client_place_order' %}">Place Order</a>
{% endblock %}
{% block content %}
<style>
	.custom-radio {
		margin: 4%;
	  	display: inline-block;
	}
	.with-margin {
		margin-bottom: 2%;
	}
	.select2-selection {
		padding: 0 !important;
	}
	.select2-selection__rendered {
	    line-height: 38px !important;
	    text-align: left !important;
	    padding-left: .75rem !important;
	}
	.select2-container .select2-selection--single {
	    height: 38px !important;
	}
	.select2-selection__arrow {
	    height: 38px !important;
	}
</style>
<br>
<div class="container col-lg-4">	
	<form method="POST">
        {% csrf_token %}
       	{% crispy form %}
    </form>
</div>
{% endblock %}

