{% extends 'client/base.html' %} 
{% load crispy_forms_tags %} 

{% block title %}
Portfolios
{% endblock %}
{% block nav_portfolio %}
<a class="nav-link active" aria-current="page" href="{% url 'client_portfolio' %}">Portfolio</a>
{% endblock %}

{% block content %}
<style>
.select2-selection {
    padding: 0 !important;
}
.select2-selection__rendered {
    line-height: 38px !important;
    text-align: left !important;
    padding-left: .75rem !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 38px !important;
}
</style>
<br>
{% for folio_name, stock_list in data.items %}
<h2>{{ folio_name }}</h2>
<table class="styled-table">
    <tr>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th></th>
    </tr>
    {% for holding, stock in stock_list %}
    <tr>
        <td>{{ stock.ticker }}</td>
        <td>{{ holding.quantity }}</td>
        <td>{{ holding.total_price }}</td>
        <td><a href="{% url 'client_portfolio' %}?id={{ holding.hold_id }}">Remove</a></td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
<br>
<div class="container col-lg-4">	
	<form method="POST">
    	{% csrf_token %}
   		{% crispy form %}
    </form>
</div>
{% endblock %}
