{% extends 'client/base.html' %} 
{% load crispy_forms_tags %} 

{% block title %}
Portfolios
{% endblock %}
{% block nav_portfolio %}
<a class="nav-link active" aria-current="page" href="{% url 'client_portfolio' %}">Portfolio</a>
{% endblock %}
{% block content %}
<br>
{% for k,v in data.items %}
<h2>{{ k }}</h2>
<table class="styled-table">
    <tr>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    {% for j in v %}
    <tr>
        <td>{{ j.1 }}</td>
        <td>{{ j.0.quantity }}</td>
        <td>{{j.0.total_price}}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
<br>
<div class="container col-lg-4">	
	<form method="POST">
    	{% csrf_token %}
   		{% crispy form %}
    </form>
</div>
{% endblock %}
