<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"></link>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet"></link>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        
        {% block title %}
        <title>
            Local Library
        </title>
        {% endblock %}
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
            </meta>
        </meta>
    </head>
    {% include 'message.html' %}
    <body style="padding: 10px">
        <div class="container-fluid">
            <div style="padding-bottom: 2%">
                {% block client_sidebar %}
                {% block client_loggedout %}
                <ul class="navbarul">
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_login' %}">
                            Login
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_signup' %}">
                            Sign Up
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_login' %}">
                            Broker Login
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% block clientloggedin_bar %}
                <ul class="navbarul">
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_portfolio' %}">
                            Portfolio
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'stocklist' 1 %}">
                            Stock Listings
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_order' %}">
                            Place Order
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_logout' %}">
                            Logout
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% endblock %}
                {% block broker_sidebar %}
                {% block broker_loggedout %}
                <ul class="navbarul">
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_login' %}">
                            Login
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_signup' %}">
                            Sign Up
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_login' %}">
                            Client Login
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% block brokerloggedin_bar %}
                <ul class="navbarul">
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_orders' %}">
                            My Orders
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'stocklist' 0 %}">
                            Stock Listings
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_logout' %}">
                            Logout
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% endblock %}
            </div>
            <div align="center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% if messages %}
        <script>
            var alertList = document.querySelectorAll('.alert');
                alertList.forEach(function (alert) {
                    new bootstrap.Alert(alert);
                })
        </script>
        {% endif %}
    </body>
</html>