<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        .navbarul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #e7e7e7;
            background-color: #f3f3f3;
        }
        .navbarli {
            float: left;
        }
        .navbara {
            display: block;
            color: #666;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover:not(.active) {
            background-color: #ddd;
        }
        li a.active {
            color: white;
            background-color: #4CAF50;
        }
        </style>
        {% block title %}
        <title>
            Local Library
        </title>
        {% endblock %}
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
                <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
                    <!-- Add additional CSS in static file -->
                    {% load static %}
                    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
                    </link>
                </link>
            </meta>
        </meta>
    </head>
    <body style="padding: 10px">
        <div class="container-fluid">
            <div style="padding-bottom: 2%">
                {% block client_sidebar %}
                {% block client_loggedout %}
                <ul class="navbarul">
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_login' %}">
                            Login
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_signup' %}">
                            Sign Up
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_login' %}">
                            Broker Login
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% block clientloggedin_bar %}
                <ul class="navbarul">
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_login' %}">
                            Portfolio
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'stocklist' 1 %}">
                            Stock Listings
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_logout' %}">
                            Logout
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% endblock %}
                {% block broker_sidebar %}
                {% block broker_loggedout %}
                <ul class="navbarul">
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_login' %}">
                            Login
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_signup' %}">
                            Sign Up
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'client_login' %}">
                            Client Login
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% block brokerloggedin_bar %}
                <ul class="navbarul">
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_home' %}">
                            Home
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_home' %}">
                            My Orders
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'stocklist' 0 %}">
                            Stock Listings
                        </a>
                    </li>
                    <li class="navbarli">
                        <a class="navbara" href="{% url 'broker_logout' %}">
                            Logout
                        </a>
                    </li>
                </ul>
                {% endblock %}
                {% endblock %}
            </div>
            <div align="center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>