{% extends 'base_generic.html' %} 
{% load crispy_forms_tags %} 
{% block content%}
<style>
    input {
        max-width: 12em;
        margin: 5px;
    }
</style>
<div>
    <center>
        <fieldset class="border p-2" style="width: 45em">
            <legend class="w-auto">Broker Sign Up</legend>
            <form method="post">{% csrf_token %} {% crispy form %}</form>
        </fieldset>
    </center>
</div>
{% endblock %} {% block sidebar %}
<ul class="sidebar-nav">
    <li>
        <a href="{% url 'Homepage'%}"> Home </a>
        <ul>
            <li><a href="{% url 'client_signup' %}"> Client </a></li>
        </ul>
    </li>
    <li><a href="{% url 'stocklist'%}"> Stock Listings</a></li>
</ul>
{% endblock %}
