<br><br>
<div class="marquee"><p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% for idx in indices %}
    {% if idx.change < 0 %}
    <span class="border badge bg-light text-dark" style="font-size:1rem;">
      <u>{{ idx.index_name }}</u> <i class="fas fa-arrow-right"></i> ${{ idx.last_price }} <i class="far fa-arrow-alt-circle-down" style="color:red"></i> {{ idx.change }}%
    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% else %}
    <span class="border badge bg-light text-dark" style="font-size:1rem;">
      <u>{{ idx.index_name }}</u> <i class="fas fa-arrow-right"></i> ${{ idx.last_price }}  <i class="far fa-arrow-alt-circle-up" style="color:green"></i> {{ idx.change }}%
    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endif %}
  {% endfor %}
</p></div>

